@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

body {
    font-family: 'Roboto', sans-serif;
}

.highlight {
    background-color: yellow;
}

#search {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#add-task {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task:hover {
    background-color: #45a049;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.task-text {
    flex: 1;
    text-align: left;
}

.task-deadline {
    flex: 1;
    text-align: center;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: darkred;
}

.delete-button:hover {
    color: red;
}